span{
  font-weight:bold; 
  padding-right: 2em;
  
} 
.text{
  font-weight:normal; 
  padding-right: 1em;
}
.js{
  position: absolute;
  top: 90%;
  left: 15%;
  width: 100px;
  height: 40px;
}
button{
  width: 100px;
  height: 40px;
  background: black;
  opacity: 0.8;
  color: white;
  font-size: 24px;
}
